<header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
</header>
<div>
<%= link_to [:admin, :products], class: "btn btn-info" do %>Total products: <%= @product_count %><% end %>
</div>
<br>
<div>
<%= link_to [:admin, :categories], class: "btn btn-info" do %>Total categories: <%= @category_count %><% end %>
</div>