<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <h4><%=  Product.where(category: category.id).count %><h4>
  </td>
  <td>
    <%  Product.where(category: category.id).each do |product| %>
      <%= link_to product do %>
       • <%=  product.name %> <br>
      <% end %>
      
    <% end %>
  </td>
</tr>