<header class="page-header">
    <h1>About</h1>
</header>

<h3>History</h3>
<p> this amazing online store was started in 2019 as part of a school project! Since then, it's grown into a massive economic force, making major waves in the online retail world. We sell everything from shoes shaped like feet to hot dog slicers. Our customers say they never knew they needed one of those, but now they can't live without it! </p>

<br>
<h3>Staff</h3>
<p>The store has over 100 staff members. Teddy the Chihuahua is the big boss in charge.</p>
<br>
<h3>Location</h3>
<p>We are located in a beautiful scenic basement in Victoria, BC.</p>
<br>
<h3>Shipping</h3>
<p>We don't ship anywhere. Sorry!</p>